@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "mainLayout.cshtml";
	ViewBag.Title= Model.Value("pageTitle");
}

<div class="container">
	<div class="form-title">
		<h3>Request a call back</h3>
	</div>
	<p>Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur excepteur sint occaecat</p>

	<form onsubmit="handleContactFormSubmit(event)" novalidate>
		<div class="form-input-group">
			<label class="form-label" for="name">Name</label>
			<input id="name" name="name" type="text" placeholder="Enter your name" class="form-input">
			<span class="form-input-error">You must enter your name</span>
		</div> 

		<div class="form-input-group">
			<label class="form-label" for="email">Email</label>
			<input id="email" name="email" type="email" placeholder="Enter your email" class="form-input">
			<span class="form-input-error">You must enter your email</span>
		</div> 

		<div class="form-input-group">
			<label class="form-label" for="message">Message</label>
			<textarea id="message" name="message" type="text" placeholder="Enter your message" class="form-textarea"></textarea>
			<span class="form-input-error">You must enter a message</span>
		</div> 
        
		<button type="submit" class="btn-accent">SEND</button>
		
	</form>


</div>