@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContactPage>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "mainLayout.cshtml";
	ViewBag.Title= Model.Value("pageTitle");
}

<div class="container">
	<div class="form-title">
		<h3>Request a call back</h3>
	</div>
	<p>Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur excepteur sint occaecat</p>

	<form id="ContactForm" onsubmit="handleContactFormSubmit(e)" novalidate>
		@Html.GetBlockListHtml(Model.ContactForm)
		
	</form>


</div>