<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b7958b1f-519f-483c-b7f7-466e1ce9f5be" Alias="modularPage" Level="2">
  <Info>
    <Name>Modular Page</Name>
    <Icon>icon-notepad</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>modularPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="ce2132e1-6db8-4373-b7c0-dd9cb4fb3ad0">modularPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="b7958b1f-519f-483c-b7f7-466e1ce9f5be" SortOrder="0">modularPage</ContentType>
    <ContentType Key="45c43b7b-b4c0-476a-9e6c-51a3de993ba4" SortOrder="1">serviceListPage</ContentType>
    <ContentType Key="e1c424b6-005a-452e-9946-22aba1566727" SortOrder="2">contactPage</ContentType>
    <ContentType Key="a1276021-abfb-40a7-830f-9e7c300617ff" SortOrder="3">projectListPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>ff51f126-cf09-4a29-ac79-51b297012944</Key>
      <Name>Layout</Name>
      <Alias>layout</Alias>
      <Definition>46a86b53-bfcd-4fd6-89e7-cc081912fe08</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/pageLayout">Page Layout</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>283b142d-319e-4b9a-9e24-84fa543b82b5</Key>
      <Name>Page Title</Name>
      <Alias>pageTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>4ee5427a-df1a-4ee6-be0d-b823d94ceedf</Key>
      <Caption>Page Layout</Caption>
      <Alias>content/pageLayout</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>af7f5d45-8c1e-47d6-88d4-2e4371317a3d</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>