@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;



@{
    var quote = Model?.Content.Value<string>("quote");
}

@if(!string.IsNullOrEmpty(quote)){
    <p>@quote</p>
}