@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@inject Umbraco.Cms.Web.Common.UmbracoHelper UmbracoHelper

@{
    var rootContents = UmbracoHelper.ContentAtRoot();
    var settings= rootContents?.FirstOrDefault(x => x.ContentType.Alias == "settingsPage") ?? null;
    var siteName = settings?.Value<string>("siteName") ?? "";
}

<footer>
    <section class="footer bg-dark">
        <div class="container">
            <p>&copy; @DateTime.Now.Year @siteName. All Rights Reserved.</p> 
            <p>Credits to <a id="footer-highlight" href="https://themeforest.net/user/themesflat/portfolio">Themesflat</a> </p>
        </div>

    </section>

</footer>