@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@inject Umbraco.Cms.Web.Common.UmbracoHelper UmbracoHelper

@{
    var rootContents = UmbracoHelper.ContentAtRoot();
    var settings= rootContents?.FirstOrDefault(x => x.ContentType.Alias == "settingsPage") ?? null;
    var officeLocation = settings?.Value<string>("officeLocation") ?? "";
    
    
}
<section class="social-header bg-primary" >
    <div class="container">
        <div class="social">
            <h6>@officeLocation</h6>
            <div class="social-media">
                @await Html.PartialAsync("socialmedia.cshtml")
                
            </div>

        </div>
    </div>
</section>

