@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
*, *::before, *::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rbga(0, 0, 0, 0);
}

html, body, section, div, header, footer, main, aside, nav, blockquote, p, span {
  margin: 0;
  padding: 0;
}

img, svg {
  vertical-align: middle;
}

body {
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #535656;
}

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
}
@media (min-width: 1400px) {
  .wrapper {
    grid-template-rows: auto auto 1fr auto;
  }
}

.container, .dynamicContainer {
  position: relative;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

a {
  display: inline-block;
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1em;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a[target=_blank]::after {
  content: "\f08e";
  font-family: "Font Awesome 6 Pro";
  display: inline-block;
  vertical-align: middle;
  font-size: 0.8em;
  margin-left: 0.4em;
  margin-top: -0.9em;
}

.btn-dark, .btn-primary, .btn-secondary, .btn-gray, .btn-accent, .btn-light {
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid;
  padding: 15px 40px;
  font-size: 16px;
  transition: 0.25s;
  text-decoration: none !important;
  background-color: transparent;
  font-family: "poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.btn-dark:hover, .btn-primary:hover, .btn-secondary:hover, .btn-gray:hover, .btn-accent:hover, .btn-light:hover {
  transition: 0.25s;
  text-decoration: none;
}

.btn-menu {
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid;
  transition: 0.25s;
  text-decoration: none !important;
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: transparent;
  height: 55px;
  width: 55px;
  font-size: 1.6rem;
}
.btn-menu:hover {
  transition: 0.25s;
  text-decoration: none;
}

p {
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 0;
  margin-bottom: 1em;
  border: red;
}

.colored-text {
  color: #D9C3A9;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
  margin-top: 0;
  margin-bottom: 0.5rem;
  line-height: 1.4;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 14px;
}

.pagination {
  padding: 20px;
}
.pagination .container {
  display: none;
}
@media (min-width: 768px) {
  .pagination .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1em;
  }
  .pagination .container .change {
    padding-left: 30px;
    color: var(--color-secondary);
  }
  .pagination .container span .inactive {
    color: var(--color-gray);
  }
  .pagination .container .pages {
    display: flex;
    justify-content: space-evenly;
  }
  .pagination .container .pages li {
    padding: 0 30px;
    list-style: none;
  }
  .pagination .container .pages li:active {
    color: var(--color-secondary);
  }
  .pagination .container .pages .number {
    color: var(--color-dark);
  }
}

.help-box {
  position: relative;
  display: block;
  justify-content: center;
  align-items: end;
  text-align: left;
  padding: 30px;
  width: 30%;
}
.help-box .help-input input {
  padding: 15px;
  width: 100%;
}
.help-box .help-input i {
  position: absolute;
  right: 20%;
  bottom: 20%;
  color: var(--color-default);
  font-size: 1.2em;
}

.spacing-bottom {
  padding-bottom: 20px;
}

.spacing-top {
  padding-top: 20px;
}

.form-input-group {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 15px;
  margin-bottom: 10px;
}
.form-input-group .form-label {
  font-weight: 500;
  text-align: left;
}
.form-input-group .form-input {
  width: 100%;
}
.form-input-group .form-input::-moz-placeholder {
  color: var(--color-primary);
}
.form-input-group .form-input::placeholder {
  color: var(--color-primary);
}
.form-input-group span {
  display: none;
}
.form-input-group span .form-input-error {
  color: red;
}
.form-input-group #support-select {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}
.form-input-group #support-select #support {
  margin-top: 20px;
  width: 100%;
  background-color: var(--color-light);
}
@media (min-width: 768px) {
  .form-input-group {
    justify-content: left;
    align-items: left;
    text-align: left;
    padding-bottom: 15px;
    margin-bottom: 10px;
  }
  .form-input-group .form-label {
    text-align: start;
    align-items: flex-start;
  }
}

.form-button {
  display: block;
  align-items: center;
  text-align: center;
}
.form-button .btn-accent {
  width: 100%;
}

.tags {
  display: block;
  justify-content: left;
  align-items: left;
  text-align: left;
}
.tags .tag-link {
  border-radius: 25px;
  border: 2px solid var(--color-gray);
  color: var(--color-primary);
  padding: 15px 20px;
}
.tags .tag-link:hover {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  cursor: pointer;
  text-decoration: none;
}

.sidebar .container {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.breadcrumb {
  display: flex;
  justify-content: center;
}
.breadcrumb li {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  font-size: 1em;
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.breadcrumb li i {
  padding: 0 20px 0 20px;
}

header .social-header .container .social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
}
header .social-header .container .social h6 {
  font-size: 10px;
}
header .social-header .container .social .social-media {
  display: inline-block;
  justify-content: flex-end;
}
header .social-header .container .social .social-media a {
  display: none;
}
@media (min-width: 1400px) {
  header .social-header .container .social h6 {
    font-size: 1em;
    font-weight: 400;
  }
  header .social-header .container .social .social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  header .social-header .container .social .social-media .socialmedia-item {
    border-right: 0.5px solid var(--color-default);
    display: block;
    font-size: 1.5em;
    padding: 0 1em;
  }
  header .social-header .container .social .social-media .socialmedia-item[target=_blank]::after {
    content: none;
    display: inline-block;
    vertical-align: middle;
    font-size: 0.8em;
    margin-left: 0.4em;
    margin-top: -0.9em;
  }
}
header .nav-bar {
  padding: 2em 0;
}
header .nav-bar .container .nav-contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
header .nav-bar .container .nav-contact .logotype {
  display: flex;
}
header .nav-bar .container .nav-contact .search {
  display: none;
}
header .nav-bar .container .nav-contact .topnav {
  display: none;
}
header .nav-bar .container .nav-contact .dropdown {
  float: left;
  overflow: hidden;
}
header .nav-bar .container .nav-contact .dropdown .btn-menu {
  cursor: pointer;
}
header .nav-bar .container .nav-contact .dropdown .btn-menu:focus {
  background-color: var(--color-light);
  color: var(--color-dark);
}
header .nav-bar .container .nav-contact .dropdown .dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
header .nav-bar .container .nav-contact .dropdown .dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
header .nav-bar .container .nav-contact .dropdown .dropdown-content a:hover {
  background-color: #ddd;
}
header .nav-bar .container .nav-contact .dropdown .show {
  display: block;
}
@media (min-width: 1400px) {
  header .nav-bar .container .nav-contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header .nav-bar .container .nav-contact .search-btn {
    text-decoration: none;
    display: block;
  }
  header .nav-bar .container .nav-contact .search {
    display: flex;
    font-size: 2em;
  }
  header .nav-bar .container .nav-contact .topnav {
    display: flex;
  }
  header .nav-bar .container .nav-contact .topnav a {
    padding: 0 1.5em;
  }
  header .nav-bar .container .nav-contact .dropdown {
    display: none;
  }
}

.page-title {
  margin-bottom: 80px;
}
.page-title .container {
  margin-top: 80px;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.page-title .container h1 {
  font-size: 2.5em;
}
@media (min-width: 768px) {
  .page-title .container h1 {
    font-size: 3.5em;
  }
}
@media (min-width: 1400px) {
  .page-title .container {
    margin-top: 150px;
  }
  .page-title .container h1 {
    font-size: 4.5em;
  }
}

.contact-box {
  position: relative;
  padding: 20px 0;
}
.contact-box .container {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: right;
  padding: 100px;
}
.contact-box .container img {
  bottom: 0;
  left: 0;
  max-width: 50%;
  height: auto;
}
.contact-box .container .img-back {
  z-index: 0;
  position: absolute;
}
.contact-box .container .img-front {
  z-index: 1;
  position: absolute;
}
.contact-box .container .contact-info-box {
  z-index: 1;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 200px;
}
.contact-box .container .contact-info-box h2 {
  font-size: 1.5em;
  padding-bottom: 20px;
}
.contact-box .container .contact-info-box h5 {
  font-size: 1em;
}
.contact-box .container .contact-info-box h5 i {
  margin-right: 10px;
  color: var(--color-secondary);
}
.contact-box .container .contact-info-box p {
  font-size: 1em;
}
@media (min-width: 768px) {
  .contact-box .container .contact-info-box {
    z-index: 1;
    display: block;
    justify-content: left;
    align-items: end;
    text-align: end;
    margin-left: 100px;
    margin-bottom: 0;
  }
  .contact-box .container .contact-info-box h2 {
    margin-left: 150px;
    font-size: 2.2em;
  }
  .contact-box .container .contact-info-box p {
    margin-left: 220px;
  }
}
@media (min-width: 1400px) {
  .contact-box {
    position: relative;
    padding: 20px 0;
  }
  .contact-box .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 200px;
  }
  .contact-box .container img {
    bottom: 0;
    left: 0;
    max-width: 100%;
    height: auto;
  }
  .contact-box .container .img-back {
    z-index: 0;
    position: absolute;
  }
  .contact-box .container .img-front {
    z-index: 1;
    position: absolute;
  }
  .contact-box .container .contact-info-box {
    z-index: 1;
    display: block;
    justify-content: center;
    align-items: end;
    text-align: end;
  }
  .contact-box .container .contact-info-box h2 {
    margin-left: 300px;
    padding-bottom: 20px;
    font-size: 3em;
  }
  .contact-box .container .contact-info-box h5 {
    font-size: 1.5em;
  }
  .contact-box .container .contact-info-box h5 i {
    margin-right: 10px;
    color: var(--color-secondary);
  }
  .contact-box .container .contact-info-box p {
    font-size: 1.2em;
    margin-left: 580px;
  }
}

footer .container {
  padding: 0.5em 0 0.5em 0;
}
footer .container p {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}
footer .container p {
  color: var(--color-default);
}
@media (min-width: 1400px) {
  footer .container {
    padding: 1em 0 1em 0;
  }
  footer .container p {
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  footer .container p {
    color: var(--color-default);
  }
}

#hero .background-image {
  display: none;
}
#hero .container h1 {
  font-size: 2.5em;
}
#hero .container h6 {
  color: var(--color-dark);
  font-weight: 400;
  font-size: 1em;
  padding-bottom: 1em;
}
#hero .container .btn-primary {
  padding: 15px 25px 15px 25px;
  font-size: 1em;
  background-color: var(--color-primary);
}
#hero .container .btn-primary:hover {
  background-color: var(--color-secondary);
}
@media (min-width: 768px) {
  #hero .container h1 {
    font-size: 2.5em;
  }
  #hero .container h6 {
    color: var(--color-default);
    font-weight: 400;
    font-size: 1em;
    padding-bottom: 1em;
  }
}
@media (min-width: 1400px) {
  #hero {
    margin-top: 0;
  }
  #hero .background-image {
    width: 100%;
    top: 0;
    height: auto;
    position: absolute;
    z-index: 0;
    display: block;
  }
  #hero .container h1 {
    font-size: 4.5em;
    width: 75%;
  }
  #hero .container h6 {
    color: var(--color-default);
    font-weight: 400;
    padding-bottom: 1em;
    width: 60%;
    font-size: 1.5em;
  }
  #hero .container .btn-primary {
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid;
    padding: 15px 40px;
    font-size: 16px;
    transition: 0.25s;
    text-decoration: none !important;
    background-color: transparent;
    font-family: "poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    background-color: var(--color-primary);
  }
  #hero .container .btn-primary:hover {
    transition: 0.25s;
    text-decoration: none;
  }
}
@media (min-width: 2048px) {
  #hero {
    margin-top: 0;
    position: relative;
  }
  #hero .container .btn-primary {
    height: 75px;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 1.5em;
  }
  #hero .container h1 {
    font-size: 5.5em;
    width: 100%;
  }
  #hero .container h6 {
    color: var(--color-default);
    font-weight: 400;
    font-size: 1.5em;
    padding-bottom: 1em;
  }
}

#about-us {
  padding-top: 20px;
}
#about-us .container {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#about-us .container h3 {
  background-color: var(--color-primary);
  padding: 20px;
  margin-bottom: 20px;
  width: 100%;
}
#about-us .container .btn-accent {
  background-color: var(--color-accent);
}
@media (min-width: 1400px) {
  #about-us .container {
    display: block;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
  }
}

.services {
  padding: 80px 0;
}
.services .container {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.services .container h6 {
  font-size: 1em;
}
.services .container h2 {
  padding-bottom: 20px;
}
.services .container .grid-products {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}
.services .container .grid-products .box-products {
  padding: 20px 0;
  background-color: var(--color-light);
}
.services .container .grid-products .box-products h4 {
  text-align: left;
  padding: 20px;
  font-weight: 500;
}
.services .container .grid-products .box-products img {
  width: 100%;
}
.services .container .grid-products .box-products img:hover {
  zoom: 1.5;
}
.services .container .grid-products .box-products p {
  padding: 20px;
}
@media (min-width: 768px) {
  .services .container .grid-products {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}
@media (min-width: 1400px) {
  .services .container h2 {
    margin: 10px 200px;
  }
  .services .container .grid-products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }
}

#trust {
  padding: 100px 0 100px 0;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  z-index: -1;
}
#trust .background-image {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 45%;
}
#trust .container {
  z-index: 1;
}
#trust .container .btn-primary {
  margin-top: 30px;
}
#trust .container .image-slider {
  display: none;
}
@media (min-width: 768px) {
  #trust {
    padding: 150px 0;
  }
}
@media (min-width: 1400px) {
  #trust {
    padding: 100px 0 0 0;
  }
  #trust .container .btn-primary {
    background-color: var(--color-primary);
  }
  #trust .container .image-slider {
    display: block;
    bottom: 0;
    padding-top: 200px;
    width: 100%;
  }
}

#success {
  padding: 80px 0 150px 0;
  position: relative;
  z-index: 0;
}
#success .background-image {
  display: none;
}
#success .image-slider {
  width: 50%;
  height: auto;
}
#success .container {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#success .container .container h1 {
  font-size: 3em;
  color: var(--color-primary);
}
#success .container .container h4 {
  font-weight: 500;
  padding-bottom: 20px;
}
#success .container .container .grid-count {
  display: grid;
  grid-template-columns: 1fr;
  z-index: 1;
  padding-bottom: 100px;
}
@media (min-width: 768px) {
  #success {
    padding: 200px 0 500px 0;
  }
  #success .background-image {
    display: block;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 45%;
  }
  #success .image-slider {
    z-index: -1;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -50px;
    height: 60%;
    width: auto;
  }
  #success .container {
    padding-bottom: 100px;
  }
  #success .container .container h1 {
    font-size: 4em;
  }
  #success .container .container h4 {
    font-weight: 500;
    padding-bottom: 20px;
  }
  #success .container .container .grid-count {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    z-index: 1;
  }
}
@media (min-width: 1400px) {
  #success .image-slider {
    bottom: -100px;
  }
  #success .container .container h1 {
    font-size: 5em;
  }
}

#project-section {
  padding: 200px 0 200px 0;
}
#project-section .container {
  padding: 80px 0 80px 0;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#project-section .project-slide {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
}
#project-section .project-slide .project-column {
  text-align: center;
  position: relative;
}
#project-section .project-slide .project-column .project-img {
  width: 100%;
}
#project-section .project-slide .project-column .caption-container {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  bottom: 20px;
  left: 0;
  width: 100%;
  background: rgba(79, 89, 85, 0.3);
  padding: 20px 0 20px 20px;
}
#project-section .project-slide .project-column .caption-container h5 {
  color: var(--color-dark);
  font-size: 1.5em;
}
#project-section .project-slide .project-column .caption-container h6 {
  color: var(--color-dark);
  font-size: 1em;
}
#project-section .project-slide .project-column .caption-container i {
  display: none;
}
#project-section .project-slide .project-column .caption-container:hover {
  background: #4f5955;
}
#project-section .project-slide .project-column .caption-container:hover h5 {
  color: var(--color-secondary);
}
#project-section .project-slide .project-column .caption-container:hover i {
  display: block;
  padding-right: 40px;
  font-size: 3em;
  color: var(--color-light);
}
@media (min-width: 768px) {
  #project-section .project-slide {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1400px) {
  #project-section {
    padding: 300px 0 200px 0;
  }
  #project-section .container {
    text-align: left;
  }
  #project-section .project-slide {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  #project-section .project-slide .project-column .caption-container:hover i {
    font-size: 5em;
  }
}

.sponsors {
  padding: 40px 0;
}
.sponsors .container {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.sponsors .container .image-slider .slide-item:hover {
  transform: scale(1.5);
}
.sponsors .container .image-slider .slide-item img {
  padding: 20px;
}
@media (min-width: 768px) {
  .sponsors {
    padding: 40px 0;
  }
  .sponsors .container {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .sponsors .container .img-sponsors img {
    width: 25%;
    height: auto;
    padding: 20px;
  }
}
@media (min-width: 1400px) {
  .sponsors {
    padding: 40px 0;
  }
  .sponsors .container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding: 40px;
  }
  .sponsors .container .img-sponsors img {
    width: 200px;
    height: auto;
    padding: 20px;
  }
}

#CEO-section {
  padding: 30px 0 30px 0;
}
#CEO-section .container {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#CEO-section .container .container img {
  padding-bottom: 10px;
  width: 80%;
}
#CEO-section .container .container h5 {
  font-weight: 400;
  font-size: 1em;
}
#CEO-section .container .container .quote {
  font-style: italic;
  font-weight: 300;
  font-size: 1em;
  padding-bottom: 30px;
}
#CEO-section .container .container p {
  line-height: 2;
}
@media (min-width: 768px) {
  #CEO-section {
    padding: 80px 0 80px 0;
  }
  #CEO-section .container .container img {
    padding-bottom: 20px;
  }
  #CEO-section .container .container h5 {
    font-weight: 400;
    font-size: 1.2em;
  }
  #CEO-section .container .container .quote {
    font-style: italic;
    font-weight: 300;
    font-size: 1.5em;
    padding-bottom: 30px;
  }
  #CEO-section .container .container p {
    line-height: 2;
    font-size: 1.1em;
  }
}
@media (min-width: 1400px) {
  #CEO-section .container {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 80px 0 80px 0;
  }
  #CEO-section .container .container img {
    padding-bottom: 20px;
    width: 110%;
    height: auto;
  }
  #CEO-section .container .container h5 {
    font-weight: 400;
    font-size: 1.2em;
  }
  #CEO-section .container .container {
    width: 57%;
    text-align: start;
  }
  #CEO-section .container .container .quote {
    font-style: italic;
    font-weight: 300;
    font-size: 2em;
    padding-bottom: 30px;
  }
  #CEO-section .container .container p {
    line-height: 2;
    font-size: 1.2em;
  }
}

#review-section {
  padding: 80px 0;
}
#review-section .container {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#review-section .container img {
  height: auto;
  width: 100%;
}
#review-section .container h6 {
  font-size: 1em;
}
#review-section .container h2 {
  font-size: 2.5em;
}
#review-section .container h5 {
  font-style: italic;
  font-weight: 400;
  font-size: 1em;
}
#review-section .container .container {
  color: var(--color-accent);
}
@media (min-width: 768px) {
  #review-section .container {
    padding-bottom: 40px;
  }
  #review-section .container h6 {
    font-size: 1em;
  }
  #review-section .container h2 {
    font-size: 3em;
  }
  #review-section .container h5 {
    font-style: italic;
    font-weight: 400;
    font-size: 1.5em;
  }
}
@media (min-width: 1400px) {
  #review-section {
    padding: 0;
    margin-bottom: 80px;
  }
  #review-section .container {
    gap: 80px 0;
  }
  #review-section .container img {
    height: 100%;
    width: 200%;
  }
  #review-section .container {
    justify-content: left;
    text-align: start;
    padding: 80px 80px 80px 0;
  }
  #review-section .container h6 {
    font-size: 1em;
  }
  #review-section .container h2 {
    width: 60%;
    font-size: 3em;
  }
  #review-section .container i {
    padding: 0;
  }
}

.expert-section {
  padding: 80px 0;
}
.expert-section .container .experts {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.expert-section .container .experts h6 {
  font-size: 1em;
}
.expert-section .container .experts h2 {
  font-size: 2em;
}
.expert-section .container .experts .expert-grid .big-grid {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-areas: "box1" "box2" "box3";
  justify-content: center;
}
.expert-section .container .experts .expert-grid .big-grid .box1 {
  grid-area: "box1";
}
.expert-section .container .experts .expert-grid .big-grid .box2 {
  grid-area: "box2";
}
.expert-section .container .experts .expert-grid .big-grid .box3 {
  grid-area: "box3";
}
.expert-section .container .experts .expert-grid .small-grid {
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: "box4" "box5" "box6" "box7";
  justify-content: center;
}
.expert-section .container .experts .expert-grid .small-grid .box4 {
  grid-area: "box4";
}
.expert-section .container .experts .expert-grid .small-grid .box5 {
  grid-area: "box5";
}
.expert-section .container .experts .expert-grid .small-grid .box6 {
  grid-area: "box6";
}
.expert-section .container .experts .expert-grid .small-grid .box7 {
  grid-area: "box7";
}
.expert-section .container .experts .expert-grid .grid-box {
  border: 1px solid var(--color-gray);
  margin: 10px;
  text-align: start;
}
.expert-section .container .experts .expert-grid .grid-box h5 {
  padding: 15px 0 0 10px;
}
.expert-section .container .experts .expert-grid .grid-box p {
  color: var(--color-default);
  padding-left: 10px;
}
@media (min-width: 768px) {
  .expert-section .container .experts h6 {
    font-size: 1em;
  }
  .expert-section .container .experts h2 {
    margin: 0 80px;
  }
  .expert-section .container .experts .expert-grid .big-grid {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-areas: "box1" "box2" "box3";
    justify-content: center;
  }
  .expert-section .container .experts .expert-grid .big-grid .box1 {
    grid-area: "box1";
  }
  .expert-section .container .experts .expert-grid .big-grid .box2 {
    grid-area: "box2";
  }
  .expert-section .container .experts .expert-grid .big-grid .box3 {
    grid-area: "box3";
  }
  .expert-section .container .experts .expert-grid .small-grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "box4 box5" "box6 box7";
  }
  .expert-section .container .experts .expert-grid .small-grid .box4 {
    grid-area: "box4";
  }
  .expert-section .container .experts .expert-grid .small-grid .box5 {
    grid-area: "box5";
  }
  .expert-section .container .experts .expert-grid .small-grid .box6 {
    grid-area: "box6";
  }
  .expert-section .container .experts .expert-grid .small-grid .box7 {
    grid-area: "box7";
  }
  .expert-section .container .experts .expert-grid .grid-box {
    border: 1px solid var(--color-gray);
    margin: 10px;
    text-align: start;
  }
  .expert-section .container .experts .expert-grid .grid-box h5 {
    padding: 15px 0 0 10px;
  }
  .expert-section .container .experts .expert-grid .grid-box p {
    color: var(--color-default);
    padding-left: 10px;
  }
}
@media (min-width: 1400px) {
  .expert-section .container .experts h6 {
    font-size: 1em;
  }
  .expert-section .container .experts h2 {
    margin: 0 250px;
    padding-bottom: 20px;
  }
  .expert-section .container .experts .expert-grid .big-grid {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-areas: "box1 box2 box3";
  }
  .expert-section .container .experts .expert-grid .big-grid .box1 {
    grid-area: "box1";
  }
  .expert-section .container .experts .expert-grid .big-grid .box2 {
    grid-area: "box2";
  }
  .expert-section .container .experts .expert-grid .big-grid .box3 {
    grid-area: "box3";
  }
  .expert-section .container .experts .expert-grid .small-grid {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-areas: "box4 box5 box6 box7";
  }
  .expert-section .container .experts .expert-grid .small-grid .box4 {
    grid-area: "box4";
  }
  .expert-section .container .experts .expert-grid .small-grid .box5 {
    grid-area: "box5";
  }
  .expert-section .container .experts .expert-grid .small-grid .box6 {
    grid-area: "box6";
  }
  .expert-section .container .experts .expert-grid .small-grid .box7 {
    grid-area: "box7";
  }
  .expert-section .container .experts .expert-grid .grid-box {
    border: 1px solid var(--color-gray);
    margin: 10px;
    text-align: start;
  }
  .expert-section .container .experts .expert-grid .grid-box h5 {
    padding: 15px 0 0 10px;
  }
  .expert-section .container .experts .expert-grid .grid-box p {
    color: var(--color-default);
    padding-left: 10px;
  }
}

.project .container .project-slide .project-column {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: left;
  margin: 80px 0;
}
.project .container .project-slide .project-column .project-img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 5px 20%;
     object-position: 5px 20%;
  width: 100%;
  height: 300px;
}
.project .container .project-slide .project-column .caption-container {
  padding-left: 100px;
}
.project .container .project-slide .project-column .caption-container .date {
  display: flex;
  justify-content: flex-start;
  align-items: left;
  text-align: left;
  color: var(--color-dark);
}
.project .container .project-slide .project-column .caption-container .date i {
  padding-right: 20px;
}
.project .container .project-slide .project-column .caption-container .date .date-text {
  color: var(--color-dark);
}

.project-details .container .project-items .project-content span {
  color: var(--color-primary);
}

.service-details .container {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: left;
}
.service-details .container .service-items {
  display: flex;
}
.service-details .container .service-items .sidebar {
  border-right: 1px solid var(--color-gray);
  margin-right: 20px;
  align-items: center;
  text-align: left;
  width: 45%;
}
.service-details .container .service-items .sidebar .about-box {
  width: 80%;
}
.service-details .container .service-items .sidebar .about-box img {
  margin-right: 20px;
  width: 100%;
  height: auto;
}
.service-details .container .service-items .sidebar .help-box {
  width: 90%;
}
.service-details .container .service-items .service-content img {
  width: 80%;
  height: auto;
}
.service-details .container form {
  margin-top: 80px;
}
.service-details .container form .form-input {
  display: grid;
  grid-template-areas: "name email" "textarea textarea";
  -moz-column-gap: 10px;
       column-gap: 10px;
  row-gap: 20px;
}
.service-details .container form .form-input .form-text {
  grid-area: name;
  padding: 20px 5px;
}
.service-details .container form .form-input .form-email {
  grid-area: email;
  padding: 20px 5px;
}
.service-details .container form .form-input .form-textarea {
  grid-area: textarea;
  padding: 20px 5px;
}
.service-details .container form .form-btn {
  margin: 20px 0;
}

.project-details .container {
  position: relative;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: left;
}
.project-details .container .project-items {
  display: flex;
}
.project-details .container .project-items .project-content {
  width: 60%;
  margin-right: 10px;
}
.project-details .container .project-items .project-content img {
  width: 100%;
  margin: 20px 0;
}
.project-details .container .project-items .project-content #small-picture {
  width: 40%;
  margin-right: 20px;
}
.project-details .container .project-items .sidebar {
  position: absolute;
  display: inline-block;
  justify-content: center;
  align-items: center;
  text-align: left;
  width: 55%;
  padding: 20px;
  border-left: 1px solid var(--color-gray-light);
  right: -20%;
}
.project-details .container .project-items .sidebar .project-list {
  margin-bottom: 40px;
}
.project-details .container .project-items .sidebar .project-list .caption-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin-bottom: 20px;
  border: 1px solid var(--color-gray);
  padding: 20px;
}
.project-details .container .project-items .sidebar .project-list .caption-container .project-img {
  width: 150%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 5px 50%;
     object-position: 5px 50%;
  margin-right: 15px;
  border-radius: 8px;
}
.project-details .container .project-items .sidebar .project-list .caption-container h4 {
  font-size: 1.1rem;
  margin-bottom: 10px;
}
.project-details .container .project-items .sidebar .project-list .caption-container .date {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.project-details .container .project-items .sidebar .project-list .caption-container .date i {
  color: var(--color-primary);
  margin-right: 5px;
}
.project-details .container .project-items .sidebar .project-list .caption-container .date .date-text {
  font-size: 0.9rem;
  color: var(--color-gray);
}
.project-details .container .project-items .sidebar .tags {
  display: inline-block;
  width: 65%;
  padding: 20px 0;
}
.project-details .container .project-items .sidebar .help-box {
  margin: 50px 0;
  width: 60%;
}

.ContactSection {
  padding: 20px;
  position: relative;
}
.ContactSection .background-map {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -1;
}
.ContactSection .container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.ContactSection .container .form-content {
  padding: 20px;
  width: 55%;
  z-index: 1;
  bottom: -20px;
  background-color: var(--color-light);
}
.ContactSection .container .form-content .form-title {
  display: inline-block;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.ContactSection .container .form-content #ContactForm {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.ContactSection .container .form-content #ContactForm .umb-block-list {
  display: grid;
  grid-template-areas: "name phone" "email select" "button button";
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.ContactSection .container .form-content #ContactForm .umb-block-list #_name {
  grid-area: name;
}
.ContactSection .container .form-content #ContactForm .umb-block-list #_phone {
  grid-area: phone;
}
.ContactSection .container .form-content #ContactForm .umb-block-list #_email {
  grid-area: email;
}
.ContactSection .container .form-content #ContactForm .umb-block-list #support-select {
  grid-area: select;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}
.ContactSection .container .form-content #ContactForm .umb-block-list #support-select #support {
  margin-top: 20px;
  width: 100%;
  background-color: var(--color-light);
}
.ContactSection .container .form-content #ContactForm .umb-block-list #_Submit {
  grid-area: button;
}

.umb-block-grid__layout-container {
	position: relative;
	display: grid;
	grid-template-columns: repeat(var(--umb-block-grid--grid-columns, 1), minmax(0, 1fr));
	grid-auto-flow: row;
	grid-auto-rows: minmax(50px, min-content);

	column-gap: var(--umb-block-grid--column-gap, 0);
	row-gap: var(--umb-block-grid--row-gap, 0);
}
.umb-block-grid__layout-item {
	position: relative;
	/* For small devices we scale columnSpan by three, to make everything bigger than 1/3 take full width: */
	grid-column-end: span min(calc(var(--umb-block-grid--item-column-span, 1) * 3), var(--umb-block-grid--grid-columns));
	grid-row: span var(--umb-block-grid--item-row-span, 1);
}

.umb-block-grid__area-container,
.umb-block-grid__block--view::part(area-container) {
	position: relative;
	display: grid;
	grid-template-columns: repeat(
		var(--umb-block-grid--area-grid-columns, var(--umb-block-grid--grid-columns, 1)),
		minmax(0, 1fr)
	);
	grid-auto-flow: row;
	grid-auto-rows: minmax(50px, min-content);

	column-gap: var(--umb-block-grid--areas-column-gap, 0);
	row-gap: var(--umb-block-grid--areas-row-gap, 0);
}
.umb-block-grid__area {
	position: relative;
	height: 100%;
	display: flex;
	flex-direction: column;
	/* For small devices we scale columnSpan by three, to make everything bigger than 1/3 take full width: */
	grid-column-end: span
		min(calc(var(--umb-block-grid--area-column-span, 1) * 3), var(--umb-block-grid--area-grid-columns));
	grid-row: span var(--umb-block-grid--area-row-span, 1);
}

@media (min-width: 1024px) {
	.umb-block-grid__layout-item {
		grid-column-end: span min(var(--umb-block-grid--item-column-span, 1), var(--umb-block-grid--grid-columns));
	}
	.umb-block-grid__area {
		grid-column-end: span min(var(--umb-block-grid--area-column-span, 1), var(--umb-block-grid--area-grid-columns));
	}
}