<?xml version="1.0" encoding="utf-8"?>
<DataType Key="55bcfa00-4647-46ff-8d69-da30ccadb568" Alias="Button Link - Approved Button Colors" Level="1">
  <Info>
    <Name>Button Link - Approved Button Colors</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ColorPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    {
      "value": "4F5955",
      "label": "Primary"
    },
    {
      "value": "D9C3A9",
      "label": "Secondary"
    },
    {
      "value": "F2EDDC",
      "label": "Accent"
    },
    {
      "value": "FFFFFF",
      "label": "Light"
    },
    {
      "value": "171717",
      "label": "Dark"
    },
    {
      "value": "f7f7f7",
      "label": "Gray"
    }
  ],
  "useLabel": true
}]]></Config>
</DataType>