<?xml version="1.0" encoding="utf-8"?>
<DataType Key="90d80bef-ff8b-403b-9425-01d53dbdd090" Alias="Contact Page - Contact Form Block List" Level="1">
  <Info>
    <Name>Contact Page - Contact Form Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "23b82f50-5142-4ee7-8399-9113680e704d",
      "label": "Input Text - {=uniqueName}"
    },
    {
      "contentElementTypeKey": "c0074d0d-7aa3-4f6e-89e6-67f4c9d98a6e",
      "label": "Input Password- {=uniqueName}"
    },
    {
      "contentElementTypeKey": "cd71de91-79ed-4781-8fa9-3f2c3c817969",
      "label": "Input Text Area - {=uniqueName}"
    },
    {
      "contentElementTypeKey": "189dfd20-86ed-4dc2-89fc-ad0cbd1f5b79",
      "label": "Button - {=buttonType}"
    },
    {
      "contentElementTypeKey": "d7eedc70-b908-452e-a9ff-7bd20a7407f4",
      "label": "Select item"
    },
    {
      "contentElementTypeKey": "56e43f5c-5fa8-4df4-8d11-e203d8a4f467",
      "label": "Select menu"
    }
  ]
}]]></Config>
</DataType>