<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ccd2599c-e2b6-4260-83c8-468a8862f744" Alias="Contact Page - Contact Section " Level="1">
  <Info>
    <Name>Contact Page - Contact Section </Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "c7217683-923b-400b-bf61-b5f4474432c5",
      "allowAtRoot": true
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>