<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0a9e0f62-bc5e-4f6b-a8bf-f54cd313add8" Alias="Contact Page - Contact Section - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Contact Page - Contact Section - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "c7217683-923b-400b-bf61-b5f4474432c5"
    }
  ]
}]]></Config>
</DataType>