<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ce1416a7-17eb-467e-bf6c-3e2b7bb15b59" Alias="Form Button - Button Type " Level="1">
  <Info>
    <Name>Form Button - Button Type </Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Submit",
    "Reset"
  ]
}]]></Config>
</DataType>