<?xml version="1.0" encoding="utf-8"?>
<DataType Key="17c66d8a-63af-4415-9e07-745ac95f00f7" Alias="Form Select - Form Select Type" Level="1">
  <Info>
    <Name>Form Select - Form Select Type</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "d7eedc70-b908-452e-a9ff-7bd20a7407f4",
      "label": "Select Form Item"
    }
  ]
}]]></Config>
</DataType>