<?xml version="1.0" encoding="utf-8"?>
<DataType Key="32da8788-b575-4537-9df3-498dffb56483" Alias="Image Slider  - Slides" Level="1">
  <Info>
    <Name>Image Slider  - Slides</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "08a1e3a3-3a85-4f4e-b1a9-91096919a28f",
      "label": "**Slide item** - {=imageDescription}"
    }
  ]
}]]></Config>
</DataType>