<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2ad4af7b-e6ed-49ab-94f8-44e3e49196d1" Alias="Input Text - Input Type" Level="1">
  <Info>
    <Name>Input Text - Input Type</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "text",
    "email",
    "tel"
  ]
}]]></Config>
</DataType>