<?xml version="1.0" encoding="utf-8"?>
<DataType Key="46a86b53-bfcd-4fd6-89e7-cc081912fe08" Alias="Modular Page - Layout" Level="1">
  <Info>
    <Name>Modular Page - Layout</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blockGroups": [
    {
      "key": "4a9c17cd-cabf-4d6b-ac58-ca872c4941dc",
      "name": "Containers"
    },
    {
      "key": "a93a736c-7f6d-4e55-90eb-a903b7622639",
      "name": "Custom Sections"
    },
    {
      "key": "f8f35e53-4b28-441b-971a-4aac96e495d0",
      "name": "Content"
    }
  ],
  "blocks": [
    {
      "contentElementTypeKey": "2fee2633-38c6-4d50-b1fa-0c877cfa5a87",
      "allowAtRoot": true,
      "label": "Section - **{=sectionTitle}**",
      "areas": [
        {
          "key": "03acaf68-2c50-45ae-96cc-1526adf99423",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": "0",
          "specifiedAllowance": [],
          "maxAllowed": "100"
        }
      ],
      "groupKey": "4a9c17cd-cabf-4d6b-ac58-ca872c4941dc",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "c2da4cb6-96a1-411e-a6aa-628a814052da",
      "allowAtRoot": true,
      "groupKey": "4a9c17cd-cabf-4d6b-ac58-ca872c4941dc",
      "label": "Section - **{=sectionTitle}**",
      "areas": [
        {
          "key": "74ad6f4a-e5b4-4b9e-830f-727854a47e6f",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": "0",
          "specifiedAllowance": [],
          "maxAllowed": "100"
        }
      ],
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "156f1494-fc8d-4996-aa60-fec14e039f98",
      "allowAtRoot": false,
      "groupKey": "4a9c17cd-cabf-4d6b-ac58-ca872c4941dc",
      "label": "container",
      "allowInAreas": true,
      "areas": [
        {
          "key": "9ac2defd-d133-49c6-bab6-b9b0e9f112c2",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": "0",
          "specifiedAllowance": [],
          "maxAllowed": "100"
        }
      ]
    },
    {
      "contentElementTypeKey": "33e58b7f-526a-4a8d-83bc-c09072ca99c1",
      "allowAtRoot": false,
      "groupKey": "4a9c17cd-cabf-4d6b-ac58-ca872c4941dc",
      "label": "dynamic container",
      "allowInAreas": true,
      "areas": [
        {
          "key": "83f45636-618f-4aae-87f0-88d87ea5d58f",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": "0",
          "specifiedAllowance": [],
          "maxAllowed": "100"
        }
      ],
      "columnSpanOptions": [
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 1
        }
      ]
    },
    {
      "contentElementTypeKey": "4c48b280-eb71-437a-ab35-00cc296cd1d4",
      "allowAtRoot": false,
      "groupKey": "f8f35e53-4b28-441b-971a-4aac96e495d0",
      "allowInAreas": true,
      "label": "heading 6"
    },
    {
      "contentElementTypeKey": "f39c1964-417c-40a2-adf3-7d006ca98f2d",
      "allowAtRoot": false,
      "groupKey": "f8f35e53-4b28-441b-971a-4aac96e495d0",
      "label": "heading 5",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "3971486b-30df-482b-9804-32d294639fb6",
      "allowAtRoot": false,
      "groupKey": "f8f35e53-4b28-441b-971a-4aac96e495d0",
      "label": "heading 4",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "fad05282-42c4-4ae4-86e1-e43d82d9e758",
      "allowAtRoot": false,
      "groupKey": "f8f35e53-4b28-441b-971a-4aac96e495d0",
      "allowInAreas": true,
      "label": "heading 3"
    },
    {
      "contentElementTypeKey": "045e2e5c-e553-4cec-90d2-b9e571d36cf2",
      "allowAtRoot": false,
      "groupKey": "f8f35e53-4b28-441b-971a-4aac96e495d0",
      "label": "heading 2",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "9c673d04-7307-438e-b5b9-650eb19c2e30",
      "allowAtRoot": false,
      "groupKey": "f8f35e53-4b28-441b-971a-4aac96e495d0",
      "label": "heading 1",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "56b69f52-cc05-4879-9a27-847954e76930",
      "allowAtRoot": false,
      "groupKey": "f8f35e53-4b28-441b-971a-4aac96e495d0",
      "allowInAreas": true,
      "label": "button"
    },
    {
      "contentElementTypeKey": "5bffa40a-b0f0-4ad1-a658-7e82e77803ad",
      "allowAtRoot": false,
      "groupKey": "f8f35e53-4b28-441b-971a-4aac96e495d0",
      "allowInAreas": true,
      "label": "image"
    },
    {
      "contentElementTypeKey": "d70d172a-276a-401a-8113-56daad8541cd",
      "allowAtRoot": false,
      "groupKey": "f8f35e53-4b28-441b-971a-4aac96e495d0",
      "label": "link",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "780975c2-ed29-4521-9f3e-43294c91f274",
      "allowAtRoot": false,
      "groupKey": "f8f35e53-4b28-441b-971a-4aac96e495d0",
      "allowInAreas": true,
      "label": "paragraph"
    },
    {
      "contentElementTypeKey": "47d9f353-9ff0-4b2e-9f7c-6dfcd40dbb4a",
      "allowAtRoot": false,
      "groupKey": "f8f35e53-4b28-441b-971a-4aac96e495d0",
      "label": "quote",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "811c66c9-17cc-48b5-86b3-5ab8ed7c25df",
      "allowAtRoot": false,
      "groupKey": "f8f35e53-4b28-441b-971a-4aac96e495d0",
      "label": "rich text",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "6a5661c0-ee03-408d-8f2f-f5d8060dcbe6",
      "allowAtRoot": false,
      "groupKey": "f8f35e53-4b28-441b-971a-4aac96e495d0",
      "label": "Link Section",
      "allowInAreas": true,
      "areas": [
        {
          "key": "11eeea88-5c12-43be-9c2c-6fbab8e0c455",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "bf89b102-1152-4816-9218-796bca75079f",
      "allowAtRoot": false,
      "groupKey": "f8f35e53-4b28-441b-971a-4aac96e495d0",
      "label": "Icons",
      "allowInAreas": true,
      "columnSpanOptions": [
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 12
        }
      ]
    },
    {
      "contentElementTypeKey": "efae36b0-67eb-41d4-b38f-b48c8eb1905e",
      "allowAtRoot": false,
      "groupKey": "a93a736c-7f6d-4e55-90eb-a903b7622639",
      "label": "image slider",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "2ef2b25f-6f75-4fe2-92e3-75bbb458f8b5",
      "allowAtRoot": true,
      "groupKey": "a93a736c-7f6d-4e55-90eb-a903b7622639",
      "allowInAreas": false
    },
    {
      "contentElementTypeKey": "cd71de91-79ed-4781-8fa9-3f2c3c817969",
      "allowAtRoot": false,
      "groupKey": "a93a736c-7f6d-4e55-90eb-a903b7622639",
      "label": "Form Text Area",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "189dfd20-86ed-4dc2-89fc-ad0cbd1f5b79",
      "allowAtRoot": false,
      "groupKey": "a93a736c-7f6d-4e55-90eb-a903b7622639",
      "label": "Form Button",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "c0074d0d-7aa3-4f6e-89e6-67f4c9d98a6e",
      "allowAtRoot": false,
      "groupKey": "a93a736c-7f6d-4e55-90eb-a903b7622639",
      "label": "Form Input Password",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "23b82f50-5142-4ee7-8399-9113680e704d",
      "allowAtRoot": false,
      "groupKey": "a93a736c-7f6d-4e55-90eb-a903b7622639",
      "label": "Form Input Text",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "c7217683-923b-400b-bf61-b5f4474432c5",
      "allowAtRoot": true,
      "groupKey": "a93a736c-7f6d-4e55-90eb-a903b7622639",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "3ce755ef-57fa-4f60-89cc-34c4014fe875",
      "allowAtRoot": true,
      "groupKey": "a93a736c-7f6d-4e55-90eb-a903b7622639"
    },
    {
      "contentElementTypeKey": "56e43f5c-5fa8-4df4-8d11-e203d8a4f467",
      "allowAtRoot": false,
      "groupKey": "a93a736c-7f6d-4e55-90eb-a903b7622639",
      "allowInAreas": true
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>