<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1b661f40-2242-4b44-b9cb-3990ee2b13c0" Alias="Multiple Media Picker" Level="1">
  <Info>
    <Name>Multiple Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "filter": "cc07b313-0843-4aa8-bbda-871c8da728c8,c4b1efcf-a9d5-41c4-9621-e9d273b52a9c",
  "multiple": true
}]]></Config>
</DataType>