<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9113ad50-6bf5-49ee-9bdd-9f6839738824" Alias="Section - Section Background Color" Level="1">
  <Info>
    <Name>Section - Section Background Color</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ColorPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    {
      "value": "171717",
      "label": "Dark"
    },
    {
      "value": "4f5955",
      "label": "Primary"
    },
    {
      "value": "D9C3A9",
      "label": "Secondary"
    },
    {
      "value": "F2EDDC",
      "label": "Accent"
    },
    {
      "value": "f7f7f7",
      "label": "Gray"
    },
    {
      "value": "ffffff",
      "label": "Light"
    }
  ],
  "useLabel": true
}]]></Config>
</DataType>