<?xml version="1.0" encoding="utf-8"?>
<DataType Key="409e7895-0a5e-4655-8b02-28d0c89e28df" Alias="Settings Page - Social Media Platform " Level="1">
  <Info>
    <Name>Settings Page - Social Media Platform </Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "b69a0b8e-f5c8-4f3f-9277-f04c40bb51a5",
      "label": "**{=platformName}**-{=platformAccountUrl}"
    }
  ]
}]]></Config>
</DataType>