<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7e24141c-1762-4f14-baac-188907a99e6f" Alias="Side Bar Template" Level="1">
  <Info>
    <Name>Side Bar Template</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blockGroups": [
    {
      "name": "sections",
      "key": "89485ef1-3c36-4d16-8628-a9d28c7fa3aa"
    }
  ],
  "blocks": [
    {
      "contentElementTypeKey": "f39c1964-417c-40a2-adf3-7d006ca98f2d",
      "allowAtRoot": false,
      "label": "Side bar heading",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "2fee2633-38c6-4d50-b1fa-0c877cfa5a87",
      "allowAtRoot": true,
      "label": "Section - {=sectionTitle}",
      "allowInAreas": false
    },
    {
      "contentElementTypeKey": "5bffa40a-b0f0-4ad1-a658-7e82e77803ad",
      "allowAtRoot": false,
      "label": "Image",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "780975c2-ed29-4521-9f3e-43294c91f274",
      "allowAtRoot": false,
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "56b69f52-cc05-4879-9a27-847954e76930",
      "allowAtRoot": false,
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "189dfd20-86ed-4dc2-89fc-ad0cbd1f5b79",
      "allowAtRoot": false,
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "23b82f50-5142-4ee7-8399-9113680e704d",
      "allowAtRoot": false,
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "156f1494-fc8d-4996-aa60-fec14e039f98",
      "allowAtRoot": false,
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "33e58b7f-526a-4a8d-83bc-c09072ca99c1",
      "allowAtRoot": false,
      "allowInAreas": true,
      "columnSpanOptions": [
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 12
        }
      ]
    },
    {
      "contentElementTypeKey": "9c673d04-7307-438e-b5b9-650eb19c2e30",
      "allowAtRoot": false,
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "045e2e5c-e553-4cec-90d2-b9e571d36cf2",
      "allowAtRoot": false,
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "fad05282-42c4-4ae4-86e1-e43d82d9e758",
      "allowAtRoot": false,
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "3971486b-30df-482b-9804-32d294639fb6",
      "allowAtRoot": false,
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "4c48b280-eb71-437a-ab35-00cc296cd1d4",
      "allowAtRoot": false,
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "2ef2b25f-6f75-4fe2-92e3-75bbb458f8b5",
      "allowAtRoot": false,
      "groupKey": "89485ef1-3c36-4d16-8628-a9d28c7fa3aa",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "d70d172a-276a-401a-8113-56daad8541cd",
      "allowAtRoot": false,
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "bf89b102-1152-4816-9218-796bca75079f",
      "allowAtRoot": false,
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "6a5661c0-ee03-408d-8f2f-f5d8060dcbe6",
      "allowAtRoot": false,
      "allowInAreas": true
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>