<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6fb3b450-2266-4d32-a973-a36ad007a2b3" Alias="Social Media Dropdown List" Level="1">
  <Info>
    <Name>Social Media Dropdown List</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Facebook",
    "Instagram",
    "Linked In",
    "TikTok",
    "X (Former Twitter)",
    "Youtube"
  ]
}]]></Config>
</DataType>