<?xml version="1.0" encoding="utf-8"?>
<Media Key="34d445b3-c4e5-4b36-8d9b-fd6165f84152" Alias="Backgrounds" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Backgrounds</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-20T13:27:41</CreateDate>
    <NodeName Default="Backgrounds" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>