<?xml version="1.0" encoding="utf-8"?>
<Media Key="bfeace86-058e-419a-a1d7-e7ca313605c2" Alias="Brand Icon" Level="2">
  <Info>
    <Parent Key="e764d358-6261-4255-bb6d-e2736e108f1b">Icons</Parent>
    <Path>/Icons/BrandIcon</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-20T13:39:43</CreateDate>
    <NodeName Default="Brand Icon" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/beckycph/brand.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>