<?xml version="1.0" encoding="utf-8"?>
<Media Key="ef65294a-2a85-45e8-90af-0dce333a43c8" Alias="Business meeting 1" Level="3">
  <Info>
    <Parent Key="b5b1b568-f146-42b7-b9e3-ad467d5aea5e">Team Members</Parent>
    <Path>/Miscellaneous/TeamMembers/BusinessMeeting1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-20T13:47:19</CreateDate>
    <NodeName Default="Business meeting 1" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/yxrdgwpm/img-1-4-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>