<?xml version="1.0" encoding="utf-8"?>
<Media Key="e764d358-6261-4255-bb6d-e2736e108f1b" Alias="Icons" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Icons</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-20T13:30:03</CreateDate>
    <NodeName Default="Icons" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>