<?xml version="1.0" encoding="utf-8"?>
<Media Key="58e8164a-3b91-4ef9-84f7-c20a957a0b22" Alias="Miscellaneous" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Miscellaneous</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-20T13:28:42</CreateDate>
    <NodeName Default="Miscellaneous" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>