<?xml version="1.0" encoding="utf-8"?>
<Media Key="f37b81da-c3f5-4ee7-bec3-3157b9618108" Alias="Other pictures" Level="2">
  <Info>
    <Parent Key="58e8164a-3b91-4ef9-84f7-c20a957a0b22">Miscellaneous</Parent>
    <Path>/Miscellaneous/OtherPictures</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-20T13:55:01</CreateDate>
    <NodeName Default="Other pictures" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>