<?xml version="1.0" encoding="utf-8"?>
<Media Key="bbdd7931-019c-4d0f-beba-75cf41dc104f" Alias="Project 2" Level="3">
  <Info>
    <Parent Key="b5b1b568-f146-42b7-b9e3-ad467d5aea5e">Team Members</Parent>
    <Path>/Miscellaneous/TeamMembers/Project2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-20T13:46:26</CreateDate>
    <NodeName Default="Project 2" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/x0zjwdpv/pj2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>