<?xml version="1.0" encoding="utf-8"?>
<Media Key="86d85cec-bd88-41e9-a3c2-10cb19cb5da9" Alias="Project 3" Level="3">
  <Info>
    <Parent Key="b5b1b568-f146-42b7-b9e3-ad467d5aea5e">Team Members</Parent>
    <Path>/Miscellaneous/TeamMembers/Project3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-20T13:46:43</CreateDate>
    <NodeName Default="Project 3" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/molj2mhb/pj3.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>