<?xml version="1.0" encoding="utf-8"?>
<Media Key="b5cf5875-4b04-4f9e-a04b-42982b7c4745" Alias="Project 1" Level="3">
  <Info>
    <Parent Key="b5b1b568-f146-42b7-b9e3-ad467d5aea5e">Team Members</Parent>
    <Path>/Miscellaneous/TeamMembers/Project1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-20T13:46:09</CreateDate>
    <NodeName Default="Project 1" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/5kjisa1n/pj1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>