<?xml version="1.0" encoding="utf-8"?>
<Media Key="d1eb4150-9804-443c-a9c0-d30982f23069" Alias="Risk Management " Level="3">
  <Info>
    <Parent Key="b5b1b568-f146-42b7-b9e3-ad467d5aea5e">Team Members</Parent>
    <Path>/Miscellaneous/TeamMembers/RiskManagement</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-26T18:31:05</CreateDate>
    <NodeName Default="Risk Management " />
    <SortOrder>24</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/14fl0z1n/post2-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>