<?xml version="1.0" encoding="utf-8"?>
<Media Key="fd153086-5818-4283-bd20-9049b23f0ac7" Alias="Services image 3" Level="3">
  <Info>
    <Parent Key="b5b1b568-f146-42b7-b9e3-ad467d5aea5e">Team Members</Parent>
    <Path>/Miscellaneous/TeamMembers/ServicesImage3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-20T13:40:31</CreateDate>
    <NodeName Default="Services image 3" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/bh3fgs1r/image-13-min-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>