<?xml version="1.0" encoding="utf-8"?>
<Media Key="476078c9-039d-4698-8bad-3d47603e3d81" Alias="Services Image 4" Level="3">
  <Info>
    <Parent Key="b5b1b568-f146-42b7-b9e3-ad467d5aea5e">Team Members</Parent>
    <Path>/Miscellaneous/TeamMembers/ServicesImage4</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-20T13:41:35</CreateDate>
    <NodeName Default="Services Image 4" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/i0zcn2pu/image-22.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>