<?xml version="1.0" encoding="utf-8"?>
<Media Key="26efc9bd-fa54-489f-8e68-5f9f2cc57c01" Alias="Service Image 2" Level="3">
  <Info>
    <Parent Key="b5b1b568-f146-42b7-b9e3-ad467d5aea5e">Team Members</Parent>
    <Path>/Miscellaneous/TeamMembers/ServiceImage2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-20T13:40:52</CreateDate>
    <NodeName Default="Service Image 2" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/giblteb3/image-18-min-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>