<?xml version="1.0" encoding="utf-8"?>
<Media Key="5cf7d982-2076-4981-93a7-a09acb32990a" Alias="Signature Image" Level="3">
  <Info>
    <Parent Key="f37b81da-c3f5-4ee7-bec3-3157b9618108">Other pictures</Parent>
    <Path>/Miscellaneous/OtherPictures/SignatureImage</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-20T13:55:37</CreateDate>
    <NodeName Default="Signature Image" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/bujld0q5/onlinesignaturesnet-302-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>