<?xml version="1.0" encoding="utf-8"?>
<Media Key="0e258886-7d8d-451b-8d8f-793dd68cc3e7" Alias="Supporter 2" Level="3">
  <Info>
    <Parent Key="b6cd1438-d3cd-4971-96bd-89c8b912c750">Supporters</Parent>
    <Path>/Miscellaneous/Supporters/Supporter2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-20T13:53:26</CreateDate>
    <NodeName Default="Supporter 2" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/bfbghohe/02.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>