<?xml version="1.0" encoding="utf-8"?>
<Media Key="238dcc3e-7417-4b61-a6bb-9ccae67a3ae1" Alias="Supporter 4" Level="3">
  <Info>
    <Parent Key="b6cd1438-d3cd-4971-96bd-89c8b912c750">Supporters</Parent>
    <Path>/Miscellaneous/Supporters/Supporter4</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-20T13:54:20</CreateDate>
    <NodeName Default="Supporter 4" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/wedmxfl4/04.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>