<?xml version="1.0" encoding="utf-8"?>
<Media Key="fb4bce30-7c14-42f5-9f98-db4664410e5c" Alias="Team Photo" Level="3">
  <Info>
    <Parent Key="b5b1b568-f146-42b7-b9e3-ad467d5aea5e">Team Members</Parent>
    <Path>/Miscellaneous/TeamMembers/TeamPhoto</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-20T13:45:27</CreateDate>
    <NodeName Default="Team Photo" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/x2ca0tl3/img-1-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>