<?xml version="1.0" encoding="utf-8"?>
<Media Key="b1fc50db-9585-44f4-91d4-e10d8954c80d" Alias="Team Members 3" Level="3">
  <Info>
    <Parent Key="b5b1b568-f146-42b7-b9e3-ad467d5aea5e">Team Members</Parent>
    <Path>/Miscellaneous/TeamMembers/TeamMembers3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-20T13:43:30</CreateDate>
    <NodeName Default="Team Members 3" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/ksnlub5m/image-104-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>