<?xml version="1.0" encoding="utf-8"?>
<Media Key="2835382e-f360-45ac-9aa7-bd0784b0389a" Alias="Team Members 7" Level="3">
  <Info>
    <Parent Key="b5b1b568-f146-42b7-b9e3-ad467d5aea5e">Team Members</Parent>
    <Path>/Miscellaneous/TeamMembers/TeamMembers7</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-20T13:44:39</CreateDate>
    <NodeName Default="Team Members 7" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/uhzhhhqj/kevin-gardner-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>