<?xml version="1.0" encoding="utf-8"?>
<Media Key="44318c46-b1a9-4c27-843a-e2b8612b23fb" Alias="Team Members 2" Level="3">
  <Info>
    <Parent Key="b5b1b568-f146-42b7-b9e3-ad467d5aea5e">Team Members</Parent>
    <Path>/Miscellaneous/TeamMembers/TeamMembers2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-20T13:43:16</CreateDate>
    <NodeName Default="Team Members 2" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/zfdhp2wa/image-106-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>