<?xml version="1.0" encoding="utf-8"?>
<Media Key="e8b8221d-7ba6-4fa4-ae9f-dfb7749e9b64" Alias="Team Members 5" Level="3">
  <Info>
    <Parent Key="b5b1b568-f146-42b7-b9e3-ad467d5aea5e">Team Members</Parent>
    <Path>/Miscellaneous/TeamMembers/TeamMembers5</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-20T13:44:09</CreateDate>
    <NodeName Default="Team Members 5" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/slup2xwp/mask-group-8-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>