<?xml version="1.0" encoding="utf-8"?>
<Media Key="367e51fd-cfd7-4bcf-bb41-4c1998820c0d" Alias="Team Members 1" Level="3">
  <Info>
    <Parent Key="b5b1b568-f146-42b7-b9e3-ad467d5aea5e">Team Members</Parent>
    <Path>/Miscellaneous/TeamMembers/TeamMembers1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-20T13:42:58</CreateDate>
    <NodeName Default="Team Members 1" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/okndraf4/image-47-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>