@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.PropertyEditors.ValueConverters;

@{
    var buttonText = Model?.Content.Value<string>("buttonText");
    var buttonType = Model?.Content.Value<string>("buttonType");
    var buttonColorLabel = Model?.Content.Value<ColorPickerValueConverter.PickedColor>("buttonColor")?.Label.ToLower() ?? null;
    var buttonColorClass = (!string.IsNullOrEmpty(buttonColorLabel) && buttonColorLabel != "none") ? $"btn-{buttonColorLabel}" : "";

}
<div id="_@buttonText" class="form-input-group form-button">
    <button type="@buttonType" class="btn @buttonColorClass">@buttonText</button>
</div>