<?xml version="1.0" encoding="utf-8"?>
<Content Key="734609ab-2b72-43bf-a02b-32a675a2d76a" Alias="Projects" Level="2">
  <Info>
    <Parent Key="1da98960-e84c-484e-9eb2-a2d255b1a534">Offical Home Page</Parent>
    <Path>/OfficalHomePage/Projects</Path>
    <Trashed>false</Trashed>
    <ContentType>projectListPage</ContentType>
    <CreateDate>2024-10-02T15:02:10</CreateDate>
    <NodeName Default="Projects" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3addc739-3c3c-479e-b75b-35815cc2409c">projectListPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Our Projects]]></Value>
    </pageTitle>
  </Properties>
</Content>