<?xml version="1.0" encoding="utf-8"?>
<Content Key="90b5953e-2e4a-4513-be5a-c1a9d591ac1b" Alias="Services" Level="2">
  <Info>
    <Parent Key="1da98960-e84c-484e-9eb2-a2d255b1a534">Offical Home Page</Parent>
    <Path>/OfficalHomePage/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceListPage</ContentType>
    <CreateDate>2024-09-26T18:19:08</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a66ca20b-a1cd-462c-b9d5-42cdd4494e2d">serviceListPage</Template>
  </Info>
  <Properties>
    <customHeadline>
      <Value><![CDATA[We Provide The Solutions To Grow Your Business Faster]]></Value>
    </customHeadline>
    <pageTitle>
      <Value><![CDATA[Our Services]]></Value>
    </pageTitle>
  </Properties>
</Content>