<?xml version="1.0" encoding="utf-8"?>
<Content Key="fe88799f-2ba7-4d39-9e30-9ae21493f46a" Alias="Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Settings</Path>
    <Trashed>false</Trashed>
    <ContentType>settingsPage</ContentType>
    <CreateDate>2024-09-23T15:34:28</CreateDate>
    <NodeName Default="Settings" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <officeEmailAddress>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </officeEmailAddress>
    <officeLocation>
      <Value><![CDATA[Klarabergsviadukten 90, 111 64 Stockholm]]></Value>
    </officeLocation>
    <officePhoneNumber>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </officePhoneNumber>
    <siteLogotype>
      <Value><![CDATA[[
  {
    "key": "e13112f0-e32d-4f44-a205-b89288093122",
    "mediaKey": "bfeace86-058e-419a-a1d7-e7ca313605c2",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </siteLogotype>
    <siteName>
      <Value><![CDATA[Onatrix]]></Value>
    </siteName>
    <siteTagline>
      <Value><![CDATA[Financial Solucions For Your Business]]></Value>
    </siteTagline>
    <socialMediaPlatform>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "b69a0b8e-f5c8-4f3f-9277-f04c40bb51a5",
      "udi": "umb://element/286e8bb847f44c75a4a2140c792a7c49",
      "platformName": "[\u0022Facebook\u0022]",
      "platformAccountUrl": "https://www.facebook.com/"
    },
    {
      "contentTypeKey": "b69a0b8e-f5c8-4f3f-9277-f04c40bb51a5",
      "udi": "umb://element/f770e0a7556c4b86895094f602dcdce4",
      "platformName": "[\u0022Linked In\u0022]",
      "platformAccountUrl": "https://www.linkedin.com/"
    },
    {
      "contentTypeKey": "b69a0b8e-f5c8-4f3f-9277-f04c40bb51a5",
      "udi": "umb://element/715c77abba4246168c0746ed8c588db1",
      "platformAccountUrl": "https://x.com/",
      "platformName": "[\u0022X (Former Twitter)\u0022]"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/286e8bb847f44c75a4a2140c792a7c49",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/f770e0a7556c4b86895094f602dcdce4",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/715c77abba4246168c0746ed8c588db1",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </socialMediaPlatform>
  </Properties>
</Content>